#caitlyn ,#ekko ,#ezreal ,#graves ,#leesin ,#lucian ,#thresh ,#vayne{
    height: 420px;
    width: 640px;
}
.champions{
    display: flex;
    animation-duration: 60s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
}
#caroussel{
    width: 640px;
    overflow: hidden;
    border: 1px solid #333333;
}
@keyframes mesImages {
    0%{
        transform: translateX(0);
    }
    12.5%{
        transform: translateX(-640px);
    }
    25%{
        transform: translateX(-1280px);
    }
    37.5%{
        transform: translateX(-1920px);
    }
    50%{
        transform: translateX(-2560px);
    }
    62.5%{
        transform: translateX(-3200px);
    }
    75%{
        transform: translateX(-3840px);
    }
    87.5%{
        transform: translateX(-4480px);
    }
    100%{
        transform: translateX(0);
    }

}
#ligne_du_haut,#ligne_du_bas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 4em;
    width: auto;
    border-width:1px;
}

#ligne_du_haut{
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

#ligne_du_bas{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

body{
    background: linear-gradient(70deg, #0C063F, #000000);

}
#entete{
    background-image: image("image/");
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li img{
    height: 4em;
    width: auto;
}