#ligne_du_haut,#ligne_du_bas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 4em;
    width: auto;
    border-width:1px;
}

#ligne_du_haut{
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

#ligne_du_bas{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

body{
    background: linear-gradient(70deg, #0C063F, #000000);

}
#entete{
    background-image: image("image/");
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li img{
    height: 4em;
    width: auto;
}

#imgf{
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#joueur
{
    background-image: url(../image/maplol.png);
    background-size: 1800px 800px;
    background-repeat: no-repeat;
    list-style: none;
}

#adam
{
    top: 8em;
    left: 27em;
    height: 4em;
    width; auto:
}
#bwipo
{
    top: 16em;
    left: 40em;
}
#nisqy
{

}
#upset
{
    top: 38em;
    left: 90em;
}
#hylissang
{
    top: 40em;
    left: 86em;
}
