#ligne_du_haut,#ligne_du_bas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 4em;
    width: auto;
    border-width:1px;
}

#ligne_du_haut{
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

#ligne_du_bas{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

body{
    background: linear-gradient(70deg, #0C063F, #000000);

}
#entete{
    background-image: image("image/");
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li img{
    height: 4em;
    width: auto;
}

#imgf{
    border: 1px solid rgba(255, 255, 255, 0.5);
}
#mapInteractif
{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}
#carte{
    width: 100%;
    height: auto;
}
#map
{
    display: flex;
    position: relative;
}
#joueur
{
    display: flex;
    position:absolute;
    list-style-type: none;
    top: 0em;
    left: 0em;
    flex-direction: column;
    justify-content: center;
}
#adam
{
    position:absolute;
    top: 8em;
    left: 27em;
    height: 4em;
    width: auto;
}
#bwipo
{
    position:absolute;
    top: 16em;
    left: 40em;
    height: 4em;
    width: auto;
}

#nisqy
{
    position:absolute;
    justify-self: center;
    height: 4em;
    width: auto;
}

#upset
{
    position:absolute;
    top: 38em;
    left: 90em;
    height: 4em;
    width: auto;
}

#hylissang
{
    position:absolute;
    top: 40em;
    left: 86em;
    height: 4em;
    width: auto;
}