body {
    background: linear-gradient(70deg, #0C063F, #000000);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;
}

/* HEADER */
header {
    width: 100%;
    height: 17vh;
    margin-top: 1em;
}

nav {
    width: 100%;
    height: 100%;
}

nav ul#teams {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
}

nav ul li {
    width: 8%;
    height: 70%;
}

li img {
    width: auto;
    height: 5em;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 79vh;
}

main ul#players {
    list-style-type: none;
    background-image: url(../image/maplol.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
}

ul#players li {
    position: absolute;
    width: 5em;
    height: 4em;
}

/* position players */

/* coach */
li#jesiz {
    bottom: 3%;
    left: 0;
}

/* support */
li#lilipp {
    bottom: 15%;
    right: 21%;
}

/* middle */
li#blue {
    top: 42%;
    left: 47%;
}

/* adc */
li#jezu {
    bottom: 19%;
    right: 16%;
}

/* top */
li#jenax {
    top: 15%;
    left: 20%;
}

/* jungler */
li#treatz {
    top: 28%;
    left: 33%;
}